.DS_Store
HAL-iOS/.DS_Store
HAL-iOS.xcodeproj/xcuserdata/
HAL-iOS.xcodeproj/sso/
HAL-iOS.xcodeproj/project.xcworkspace/xcuserdata/
HAL-iOS.xcodeproj/project.xcworkspace/xcshareddata/
HAL-iOS/Git Projects/
HAL-iOS/Git Projects/.DS_Store
